<div hlmTableContainer>
  <table hlmTable class="w-full">
    <thead hlmTHead class="bg-muted sticky top-0 z-10">
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
      <tr hlmTr class="[&_th]:font-medium">
        @for (header of headerGroup.headers; track header.id) { @if (!header.isPlaceholder) {
        <th hlmTh>
          <ng-container
            *flexRender="header.column.columnDef.header; props: header.getContext(); let header"
          >
            <div [innerHTML]="header"></div>
          </ng-container>
        </th>
        } }
      </tr>
      }
    </thead>
    <tbody hlmTBody>
      @for (row of table.getRowModel().rows; track row.id) {
      <tr (click)="row.toggleSelected()" hlmTr class="cursor-pointer">
        @for (cell of row.getVisibleCells(); track cell.id) {
        <td hlmTd>
          <ng-container
            *flexRender="cell.column.columnDef.cell; props: cell.getContext(); let cell"
          >
            <div [innerHTML]="cell"></div>
          </ng-container>
        </td>
        }
      </tr>
      @if (row.getIsSelected()) {
      <tr hlmTr class="bg-gray-100">
        <td hlmTd colspan="5" class="px-5">
          <app-pass-table [passes]="table.getSelectedRowModel().flatRows[0].original.passes" />
        </td>
      </tr>
      } }
    </tbody>
  </table>
</div>
