<div class="sm:w-4/5 m-5 sm:m-auto max-w-2xl sm:py-16">
  <section hlmCard>
    <div hlmCardContent>
      <div class="space-y-7">
        <form [formGroup]="formGroup" (ngSubmit)="submit()">
          <div hlmFieldGroup>
            <fieldset hlmFieldSet>
              <legend hlmFieldLegend>Set details</legend>

              <div hlmFieldGroup>
                <div class="flex gap-x-4 gap-y-7 flex-wrap">
                  <div hlmField class="w-fit">
                    <label hlmFieldLabel for="field-date">Date</label>
                    <input
                      hlmInput
                      type="date"
                      id="field-date"
                      [max]="today"
                      formControlName="date"
                      required
                    />
                  </div>
                  <div hlmField class="w-fit">
                    <label hlmFieldLabel for="field-location">Location</label>
                    <brn-select
                      formControlName="location"
                      class="inline-block"
                      placeholder="Select an option"
                    >
                      <hlm-select-trigger class="w-56">
                        <hlm-select-value />
                      </hlm-select-trigger>
                      <hlm-select-content>
                        @for (location of locations(); track location.id) {
                        <hlm-option [value]="location.id">{{ location.name }}</hlm-option>
                        }
                      </hlm-select-content>
                    </brn-select>
                  </div>
                  <div hlmField class="w-fit">
                    <label hlmFieldLabel for="field-setting">Setting</label>
                    <brn-select formControlName="setting" class="inline-block" value="practice">
                      <hlm-select-trigger class="w-36">
                        <hlm-select-value />
                      </hlm-select-trigger>
                      <hlm-select-content>
                        <hlm-option value="practice">Practice</hlm-option>
                        <hlm-option value="Tournament">Tournament</hlm-option>
                      </hlm-select-content>
                    </brn-select>
                  </div>
                </div>
                <div hlmField>
                  <label hlmFieldLabel for="field-comments">Comments</label>
                  <textarea
                    hlmTextarea
                    class="resize-none"
                    id="field-comments"
                    placeholder="Try anything new?"
                    formControlName="comments"
                  ></textarea>
                </div>
              </div>
            </fieldset>
            <hlm-field-separator />
          </div>

          <div class="mt-7" hlmFieldGroup>
            <fieldset hlmFieldSet formArrayName="passes">
              <div class="flex justify-between">
                <legend hlmFieldLegend>Passes</legend>
                <button
                  type="button"
                  hlmBtn
                  size="sm"
                  variant="secondary"
                  (click)="addPass()"
                  class="font-medium w-min bg-blue-50 hover:bg-blue-50/75 text-blue-500"
                >
                  <ng-icon hlm size="sm" name="lucidePlus" /> Add pass
                </button>
              </div>
              @for (pass of passForms.controls; track $index;) {
              <app-pass-card
                [index]="$index"
                [group]="pass"
                [isFirst]="$index === 0"
                [isLast]="$index === passForms.controls.length - 1"
                (delete)="deletePass($index)"
                (moveUp)="movePassUp($index)"
                (moveDown)="movePassDown($index)"
              />
              }
              <div hlmField orientation="horizontal" class="justify-end">
                <button hlmBtn (click)="clearPasses()" type="button" variant="outline">
                  Clear
                </button>
                <button [disabled]="!formGroup.valid" type="submit" hlmBtn>Submit</button>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
