<div class="flex items-center py-1">
  <span class="px-2 mr-2">#{{ index + 1 }}</span>
  <span class="font-bold">
    {{ title }}
  </span>
  <div
    style="grid-template-columns: repeat(4, 80px)"
    class="grid items-center ml-auto text-right gap-2"
  >
    <span>{{ pass.points }}</span>
    <span>
      {{ speed }}
    </span>
    <span>{{ ropeLength }}</span>
    <button hlmBtn variant="ghost" size="icon" title="View video" class="justify-self-end">
      <ng-icon hlmIcon name="lucideVideo" />
    </button>
  </div>
</div>
