<div class="sm:w-4/5 m-5 sm:m-auto max-w-5xl sm:py-16">
  <h1 class="text-3xl font-bold mb-4">Welcome back!</h1>
  <h2 class="text-lg font-medium mb-2">In the last 30 days</h2>
  <div class="grid gap-2 grid-cols-2 lg:grid-cols-3 mb-7">
    <div hlmCard>
      <div hlmCardHeader>
        <p hlmCardDescription>Total sets</p>
        <h3 hlmCardTitle class="text-2xl font-semibold tabular-nums @[250px]/card:text-3xl">
          {{ monthSets().length }}
        </h3>
        <!-- <div hlmCardAction>
          <span hlmBadge variant="outline">
            <ng-icon hlm name="lucideTrendingUp" size="xs" />
            +12
          </span>
        </div> -->
      </div>
    </div>
    <div hlmCard>
      <div hlmCardHeader>
        <p hlmCardDescription>Best score</p>
        <h3 hlmCardTitle class="text-2xl font-semibold tabular-nums @[250px]/card:text-3xl">
          {{ monthBestScore() }}
        </h3>
        <!-- <div hlmCardAction>
          <span hlmBadge variant="outline">
            <ng-icon hlm name="lucideTrendingDown" size="xs" />
            -2
          </span>
        </div> -->
      </div>
    </div>
    <div hlmCard>
      <div hlmCardHeader>
        <p hlmCardDescription>Opener rate</p>
        <h3 hlmCardTitle class="text-2xl font-semibold tabular-nums @[250px]/card:text-3xl">
          {{ openerRate() }}%
        </h3>
        <!-- <div hlmCardAction>
          <span hlmBadge variant="outline">
            <ng-icon hlm name="lucideTrendingDown" size="xs" />
            -2
          </span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="flex w-full justify-between mb-7 gap-4 flex-wrap items-stretch">
    <div hlmCard class="min-h-96 min-w-sm flex-1">
      <div hlmCardContent class="h-full">
        @if (recentSets().length === 0) {
        <div hlmEmpty>
          <div hlmEmptyHeader>
            <div hlmEmptyMedia variant="icon">
              <ng-icon name="lucideWind" />
            </div>
            <div hlmEmptyTitle>No recent sets</div>
            <div hlmEmptyDescription>There is no recent data to display from the last 30 days</div>
          </div>
          <div hlmEmptyContent>
            <a href="/new-set">
              <button hlmBtn><ng-icon hlmIcon name="lucidePlus" /> Log new set</button>
            </a>
          </div>
        </div>
        } @else {
        <app-score-chart [sets]="monthSets()" />
        }
      </div>
    </div>
    @if (recentSets().length > 0) {
    <div class="grid h-fit gap-2 w-90 shrink-0">
      <span class="flex justify-between items-center">
        <h2 class="text-lg font-medium">Recent sets</h2>

        <a href="#" class="text-sm flex items-center gap-1"
          >View all <ng-icon hlm size="sm" name="lucideArrowRight" />
        </a>
      </span>
      @for (set of recentSets(); track set.id) {
      <div hlmItem variant="outline" class="bg-card text-card-foreground shadow-sm">
        <div hlmItemContent class="flex-row gap-4">
          <div class="grid justify-center items-center bg-slate-100 rounded-md px-5 py-1">
            <div class="text-xs font-bold text-slate-400">{{ set.month }}</div>
            <div class="font-bold text-xl text-slate-800">{{ set.day }}</div>
          </div>
          <div class="grid">
            <div class="flex gap-2">
              <div class="font-bold">{{ set.location }}</div>
              <div>{{ set.bestPass }}</div>
            </div>
            <div class="flex text-neutral-500 gap-2 items-center">
              <div
                hlmBadge
                variant="secondary"
                class="bg-blue-100 text-xs text-blue-700 px-1.5 py-0.5"
              >
                {{ set.isTournament ? 'Tournament' : 'Practice' }}
              </div>
              <span>•</span>
              <span>{{ set.score === 1 ? '1 Point' : `${set.score} Points` }}</span>
              <span>•</span>
              <span>{{ set.passes === 1 ? '1 Pass' : `${set.passes} Passes` }}</span>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>
  <div class="grid gap-2 mb-7 w-full">
    <h2 class="text-lg font-medium">Recent videos</h2>
    <div class="w-full flex gap-2 overflow-x-auto">
      <!-- todo replace badges with n @ length off -->
      <!-- <app-video-pass-card
        [date]="monthSets().at(0)?.date!"
        [pass]="monthSets().at(0)?.passes?.at(0)!"
      /> -->
    </div>
  </div>
</div>
